#root {
    max-width: 1280px;
    background-color: rgb(80, 92, 92);
    border: 2px solid rgb(44, 44, 44);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    align-items: center;
  }
  .custom-card {
    background-color: red !important;/* Cambia esto al color que prefieras */
    color: white !important;/* Cambia esto al color de texto que prefieras */
}