.custom-card{ /* Estilos para cambiar cada custom-card, si quieres un diseño diferente lo cambias desde class name en el jsx */
    
    background: linear-gradient(#fd961f,#f0ba08, #FF5733);
    border-radius: 20px;
    border: 1.5px solid  rgb(0, 0, 0);
   
} 

.Name{ /*Puedes cambiar el color del nombre y el subrayado*/
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    text-decoration: underline;   
    font-family: 'Roboto', sans-serif;
    text-decoration-style: solid;
}

.ilustracion{ /*borde de la imagen*/
    border-radius: 15px;
    border: 1.5px solid  rgb(0, 0, 0);
}