.container main {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    min-height: 80vh; /* Ajusta el tamaño mínimo para centrarlo en el área visible */
    width: 100%;
    padding: 0 20px;     /* Opcional: Ajusta un padding a los lados */
}
body{
    margin: 20px;
    padding: 20px;
    background: linear-gradient(65deg,#FFC300,#FF5733,#C70039,#900C3F,#581845);
    background-size: 200% 200%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 35%;
    }
    50%{
        background-position: 100% 35%;
    }
    100%{
        background-position: 0 35%;
    }
  }